<script lang="ts">
  import ComponentPreview from "$lib/components/app/component-preview.svelte";
    import ButtonExample from "$lib/examples/button.svelte";
  import ButtonExampleCode from "$lib/examples/button.svelte?raw";
</script>

# Button
Displays a button or a component that looks like a button.

<ComponentPreview code={ButtonExampleCode} component={ButtonExample} />